.tweetsContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
}

.tweetsloadMoreButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  scale: 1;
  text-transform: uppercase;
  border-width: 0;
  background-color: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;

  transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    scale 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tweetsloadMoreButton:hover,
.tweetsloadMoreButtonActive:hover {
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}

.tweetsloadMoreButton:active,
.tweetsloadMoreButtonActive:active {
  scale: 1.1;
}

.tweetsGoBackLink {
  display: block;
  
  padding: 14px 56px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  scale: 1;
  text-transform: uppercase;
  border-width: 0;
  background-color: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;

  transition: box-shadow 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
    scale 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tweetsGoBackLink:hover,
.tweetsGoBackLink:hover {
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}

.tweetsGoBackLink:active,
.tweetsGoBackLink:active {
  scale: 1.1;
}
